.entities {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table thead tr th, table tbody tr td {
    text-align: center;
}

.entities .entity {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
}

.table-thead {
    background-color: #333;
    color: #FFF;
}

.field {
    margin-bottom: 15px;
}

.icon {
    padding: 2px 5px;
    cursor: pointer;
}

.add-item {
    justify-content: space-around;
}

.intent-badge {
    background-color: rgb(52, 152, 213);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
    color: #FFF;
    width: min-content;
    text-align: center;
}