:host {
    display: block;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.form-group {
    margin-top: 4rem;
}

.entities {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.entities .entity {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

span {
    cursor: pointer;
}

form {
    margin-top: 15px;
}

input {
    margin-bottom: 15px;
}

.btn-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.field {
    margin-bottom: 15px;
}