<div class="container">
  <form (ngSubmit)="submitPhrases()" #f="ngForm">
    <input type="text" [(ngModel)]="tuplesPhrases" name="tuplesPhrases" class="form-control" />
    <button class="btn btn-primary btn-center" [disabled]="!f.valid">Submit</button>
  </form>
  <hr>
  <button class="btn btn-success" (click)="saveFile()">Save Data</button>
</div>
<ng-template [ngIf]="toggleInputs">
  <hr>
  <div class="container field" (textSelect)="renderRectangles( $event, i )" *ngFor="let line of lines; let i = index">
    <app-phrase [line]="line" [entities]="entities" [lineIndex]="i">
    </app-phrase>

  </div>
</ng-template>